<%- include('./includes/header.ejs') %>  
<div class="pageTitle">
	<div class="row">
		<div class="col-md pageImg">
			<img src="images/sic.jpg" class="img-responsive fit-image">
		</div>
		<div class="col-md pageInfor">
			<h2>About Us</h2>
			<p>The chief members of USCEC are a group of Chinese-American educators and professionals who have lived and taught at different levels first in China and then in the U.S. for many years, and thus are familiar with culture and education in both countries.In addition, many educators in the U.S. and China also serve as council advisors.</p>
		</div>
	</div>
</div>
<div class="container">
		<div class="row">
			<h2>About Us</h2>
		</div>
		<div class="row">
			<p>The chief members of USCEC are a group of Chinese-American educators and professionals who have lived and taught at different levels first in China and then in the U.S. for many years, and thus are familiar with culture and education in both countries.In addition, many educators in the U.S. and China also serve as council advisors.</p>
		</div>
		<div class="row">
			<div class="col-md">
				<img src="images/49.jpg" class="img-responsive fit-image">	
			</div>
			<div class="col-md">
				<img src="images/59.jpg" class="img-responsive fit-image">	
			</div>
			<div class="col-md">
				<img src="images/2.jpg" class="img-responsive fit-image">	
			</div>
		</div>
		<div class="row">
			<div class="col-md">
				<p>Although our main office is in northern New Jersey, the service we provide is not limited to the Greater New York area. Colleagues from different states in the U.S. and from Canada have benefited from our programs.We have good working relationships with China's Ministry of Education, the Confucius Institute, educational departments, schools and universities in all major Chinese provinces and cities, China International Travel Service (CITS), and the Consulate General of the P. R. China in New York.</p>
			</div>
			<div class="col-md">
				<p>We have not found it necessary to apply for the BBB accreditation, for two reasons: First, not all good businesses are BBB-accredited. Second, we have been providing high-quality service since 2002 of promoting cultural and educational exchanges between the two countries, and have built our reputation with past participants of our programs. We are confident in what we do and have trust from our clients.</p>
			</div>
			<div class="col-md">
				<p>Specifically, we offer the following service and programs to educators, students, scholars and other professionals:
					<h6>1) Educational tours from the U.S. to China, and from China to the U.S;</h6>
					<h6>2) Study abroad programs and summer camps in China;</h6>
					<h6>3) Teacher exchange programs</h6>
				</p>
			</div>		
		</div>
</div>
<%- include('./includes/footer.ejs') %> 