<%- include('./includes/header.ejs')%>

<div class="pageTitle">
	<div class="row">
		<div class="col-md pageImg">
			<img src="images/sic.jpg" class="img-responsive fit-image">
		</div>
		<div class="col-md pageInfor">
			<h2>China Trip Plans</h2>
			<p>The chief members of USCEC are a group of Chinese-American educators and professionals who have lived and taught at different levels first in China and then in the U.S. for many years, and thus are familiar with culture and education in both countries.In addition, many educators in the U.S. and China also serve as council advisors.</p>
		</div>
	</div>
</div>



<%- include('./includes/footer.ejs')%>