<%- include('./includes/header.ejs')%>

<div class="container">
    <h2>Photos</h2>
    <p>The Buttons below contain slideshows of some of our previous trips:</p>
    <div class="row ">
        <a class="btn btn-primary btn-lg m-4" href="http://www.kodakgallery.com/I.jsp?c=pfob4de.7lh8ksvy&x=0&y=-t2q2qu" role="button">This link is not worked</a>
        <a class="btn btn-primary btn-lg m-4" href="https://july2009chinapics.shutterfly.com/619?size=All&startIndex=0" role="button">July 2009 China Pics</a>
        <a class="btn btn-primary btn-lg m-4" href="https://www.flickr.com/photos/exploringchina" role="button">Exploring China 2007</a>
        <a class="btn btn-primary btn-lg m-4" href="http://community.webshots.com/user/anvill1228" role="button">No account to login</a>
        <a class="btn btn-primary btn-lg m-4" href="https://www.icloud.com/100061" role="button">This link is not worked</a>
    </div>
</div>



<%- include('./includes/footer.ejs')%>