<%- include('./includes/header.ejs') %> 
<div class="pageTitle">
	<div class="row">
		<div class="col-md pageImg">
			<img src="images/sic.jpg" class="img-responsive fit-image">
		</div>
		<div class="col-md pageInfor">
			<h2>Study in China</h2>
			<p>This is what many people think of China: <b>a long history, unique culture, booming economy</b> ... It
				has become the hot spot for studying abroad.</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<p>Traveling with us to China and studying meaningful courses in real sites, students will be observing social,
			cultural and economic transformations as they are unfolding, all while enjoying China's tasty food,
			beautiful scenery and friendly people. It is the experience of a lifetime.</p>
		<p>The USCEC helps colleges and schools organize summer study-and-travel programs in China, the length of which
			can vary from two weeks to one month from mid May to late August. Since 2002, we have taken hundreds of
			American students to China.</p>
		<p>With our summer in China programs, students will gain an invaluable experience of international education
			through a meaningful combination of the following:</p>
		<ol>
			<li>Teaching in real sites on Chinese history, society, culture, business and language;</li>
			<li>Carefully-planned excursions to famous cities of: 1. Beijing, 2. Xi'an, 3. Nanjing, 4. Suzhou, 5.
				Shanghai

			</li>
			<li>Visits to Chinese businesses, government organizations and NGO's; </li>
			<li>Side trips to Hong Kong, Tibet, Yellow Mountain, Guilin and Yangzhou.
			</li>
		</ol>
		<p>The program is open to students from any high schools and colleges in the U.S. and Canada.</p>
		<p>For information on the program you want and courses to be offered, contact us via email at <a
				href="mailto:UsChinaEducation@yahoo.com">UsChinaEducation@yahoo.com</a></p>
		<p>For information about the sites students visit in those cities with our summer program, check the China Tours
			page at this website.</p>
	</div>
	<div class="row">
		<h3>Studying at Nanjing University</h3>
	</div>
	<div class="row">
		<img src="images/nju.jpg" class="img-responsive fit-image" alt="Responsive image">
	</div>
	<div class="row">
		<div class="col-md" style="text-align: left;">
			<p>Nanjing is a famous historical city, with rich cultural heritage. It was the capital of 10 ancient
				dynasties. The city is well known for its beautiful scenic sites, food, and hospitable people. It is
				also a very important education center of China, with dozens of prestigious colleges and universities,
				with Nanjing University being one of the top five universities in China.</p>
		</div>
		<div class="col-md" style="text-align: left;">
			<p>In Nanjing, the program stays in a very comfortable hotelon the campus of Nanjing University and close to
				many other universities. It is right in the center of the city, in an area with many restaurants, tea
				houses, coffee shops, bookstores, museums, Buddhist and Daoist temples, hospitals, supermarkets,
				up-scale shopping malls, cinemas, and nightclubs.</p>
		</div>
	</div>
	<div class="row">

	</div>
</div>

<%- include('./includes/footer.ejs') %> 