<%- include('./includes/header.ejs')%>

<div class="container">
    <h2>Testimonials</h2>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Evaluation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Jo Ann</td>
            <td>New York, NY</td>
            <td>
                <p>Over the past years, USCEC led many groups of US educators to China every spring and summer, and all had a wonderful experience. The following are some of their post-trip comments.</p>
                <p>I'd like to take the opportunity to thank you for planning, organizing and leading such a wonderful, exciting and memorable trip. I truly hope we will be able to meet again and perhaps travel again someday.</p>
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Claudia</td>
            <td>New York, NY</td>
            <td>I want to thank you once again for the opportunity to be a part of such an awesome learning experience. I think it's the best vacation I ever had, especially because all the details/accommodations were handled by you with such precision. I am delighted to have visited the historic sites and gained knowledge about the rich Chinese culture and history. The visit to the Nanjing Foreign Language School was one of the trip's highlights and I commend you for the wonderful work that you are doing. When I watch the Olympics in August I will be able to do so with an advantage over the average viewer, having actually been in China and met the people. The tour guides were very knowledgeable about the country's history and everyone in the group got along with each other, which made the trip a pleasure. I look forward to going with you to Hong Kong and other parts so please keep me posted about future travel opportunities.</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Sandra</td>
            <td>Brooklyn, New York</td>
            <td>
                <p>Thank you, thank you, thank you for making my trip to China a memorable one. I will always remember the wonderful people that I met (especially those in Group 3 and everyone on bus #1). It was an amazing experience, and a once in lifetime venture.</p>
                <p>I eagerly look forward to whatever travel plans you may arrange in the future. I'm sure you will keep me posted.</p>
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Denize</td>
            <td>Flushing, NY</td>
            <td>Thank you for organizing such a wonderful trip for us. It was a fabulous experience. The trip was so well organized. I didn't know what to expect, but whatever expectations I had went way beyond anything I could have dreamed of. I have always been fascinated by Chinese culture, so now I want to learn even more because of this experience. I hope that China as it continues to grow, does not take everything from the West. I hope that people continue to ride their bicycles, and do tai chi in the mornings, because those are all wonderful practices that will help to maintain good health. The growth is so rapid, that I hope that government continues to monitor things around the environment, because of the massive number of people. Well who listens to me. Let's keep in touch.</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Jeff</td>
            <td>Great Neck, NY</td>
            <td>I am writing this from Shanghai on the last night of a similar trip to China organized by USCEC. It has been an incredible experience and a well planned, organized, and executed trip and I highly recommend it. The opportunity to travel with other educators to see many of China's major sites, and to visit a few schools and meet with Chinese educators has been fascinating and revealing.</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Sam</td>
            <td>West Point, NY</td>
            <td>I am back in my office, and before I get any interruptions, I would like to once more express my most sincere appreciation for everything you did for us during our trip to China. You did a magnificent job in every respect. Your patience, your knowledge, your professionalism and sense of humor made our trip a resounding success. For me this was an super special experience, and I thank you for it from the bottom of my heart. I love the Chinese people, the culture, and the food more than ever. Thank you!!! I hope we can get together soon. We shall be in touch.</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Laurie</td>
            <td>New York</td>
            <td>Words fail me in thanking you for this experience. It was fantastic. I want to again thank you for the hard work you did arranging and leading this remarkable trip. Leading a bunch of school administrators, who are accustomed to being leaders themselves, is no easy task. You managed it with grace and humor. I cannot tell you how many amazing experiences I have in my head and how changed I am in my understanding of the marvel that is China. I will be forever grateful to you.</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Art</td>
            <td>Long Island, New York</td>
            <td>
                <p>I wish to thank you for organizing our adventure in China. We were treated royally and managed to learn a great deal about the Chinese culture. The visits to the schools and the Chinese officials were extremely enlightening. Clearly the future success of the people of China and the USA is intertwined. I understand how key our improved communications will be as we try to meet our mutual needs.</p>
                <p>On a personal note I want to thank you for the personal attention you provided to me and the members of my family. My daughter actually got past her initial stereotypes and has a greater understanding of the traditions and culture of China and its people. She has even expressed an interest I learning the Chinese language.</p>
            </td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Joan</td>
            <td> Morristown, NJ</td>
            <td>ust a quick note to say how much I enjoyed my first introduction to China. Not only did we travel with a great group of educators, but the behind-the-scenes organization was fantastic. A very special thanks to the trip coordinators and all the tour guides for arranging the wonderful school visits and the informative meetings with members of the Ministry of Education in China. This is a rare experience for the normal tourist! All arrangements, accommodations, meals and sightseeing trips were first class. And, of course, we voluntarily contributed to the Chinese economy by partaking in all the shoppers' bargains! This whole experience has truly increased my desire to return to China. I have forwarded some educational information onto my administrative board and they are actually considering an elementary program with "CHENGO." Of course, the word free was a quick draw! If any of you have any info on that, please let me know. I end by say Xiexie to all concerned for having contributed to one of my most memorable life experiences!</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Steve</td>
            <td>Chinese/Business Teacher, Provo, UT</td>
            <td>This was a great trip! I really enjoyed getting to know all of you. I think it was a great opportunity to meet people in China who can help us get our Chinese language programs started (or improve existing programs). What a great opportunity to meet people in the Ministry of Education, NOCFL, and various universities! A big thanks to Ann...and all the others who worked so hard to pull this off!!!</td>
          </tr>
          <tr>
            <th scope="row">11</th>
            <td>Jeff /Linda</td>
            <td>Westchester, NY</td>
            <td>The trip was an incredible experience and left us with memories that will last a lifetime. It was great traveling with you all! As a result of the trip, we have already begun to explore some possibilities for introducing Mandarin here at our middle school. Wish us luck!
            </td>
          </tr>
          <tr>
            <th scope="row">12</th>
            <td>Debbie</td>
            <td>Winnetka, IL</td>
            <td>
                <p>I feel so fortunate to have had the opportunity to participate in the US Educators Trip to China. It was an experience I will never forget. The agenda provided us with a wealth of information to bring back to our schools and share with others. The blend of educational and cultural experiences was such a wonderful way to learn about the country and the people of China. It was so valuable to see first-hand what is going on and be educated by representatives from the sponsoring groups, tour guides, and various other school officials at the schools and universities we had the pleasure to visit. One of the best parts was having the opportunity to talk to students who served as tour guides and view school life through their eyes. This was truly an informative, productive and enjoyable trip.</p>
                <p>Please extend my warmest thanks to everyone who worked so hard to make this trip possible and the representatives from Ministry of Education, NOCFL, and all the schools who welcomed us to visit. The professional contacts and the friends we have made as a result of this trip will benefit us all in the future. Thank you again for this amazing experience.</p>
            </td>
          </tr>
        </tbody>
      </table>
	
</div>



<%- include('./includes/footer.ejs')%>