<!-- </main> -->

<footer style="border-top: 2px solid grey;">
    <div class="footer">
        <div class="row">
            <div class="col">
                <span class="title-row">Home</span><br>
                <a href="/">Home</a>
            </div>
            <div class="col">
                <span class="title-row">About Us</span><br>
                <a href="/aboutus">Who We Are</a><br>
                <a href="/aboutus/testimonials">Testimonials</a><br>
                <a href="/aboutus/photos">Photos</a><br>
            </div>
            <div class="col">
                <span class="title-row">China Tours</span><br>
                <a href="/chinatrips/whychina">Why China</a><br>
                <a href="/chinatrips">China Trip Plans</a><br>
                <!-- <a href="#">Trips Next Year</a><br> -->
                <a href="/chinatrips/customtours">Custom Tours</a><br>
                <a href="/chinatrips/bookatour">Book A Tour</a><br>
            </div>
            <div class="col">
                <span class="title-row">Study In China</span><br>
                <a href="/studyinchina">Study In China</a><br>
            </div>
            <div class="col">
                <span class="title-row">Teach In China</span><br>
                <a href="/teachinchina">Teach In China</a><br>
            </div>
            <div class="col">
                <span class="title-row">Information Center</span><br>
                <a href="/infocenter">Passport And Visa</a><br>
                <a href="/infocenter/vaccinations">Vaccinations</a><br>
                <a href="/infocenter/tripplanning">Trip Planning</a><br>
                <a href="/infocenter/chinainfo">China Info</a><br>
            </div>
            <div class="col">
                <span class="title-row">Contact Us</span><br>
                <a href="/contactus">Contact Info</a><br>
                <a href="/contactus/facebook">Visit Us On Facebook</a><br>
            </div>
        </div>
        <div class="copyright">
            &copy Copyright 2020 USCEC
        </div>
</footer>
<!--FOOTER ENDS HERE-->
</body>

</html>